---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import ChapterPreview from "src/components/ChapterPreview.astro";
import Chapters from "src/components/Chapters.astro";

const { novel } = Astro.params;

const chapters = (
    await getCollection("chapters", ({ data }) => {
        return data.tags.includes(novel);
    })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

export async function getStaticPaths() {
    const tags = [
        ...new Set(
            (await getCollection("chapters")).flatMap(({ data }) => data.tags),
        ),
    ];
    return tags.map((tag) => ({ params: { novel: tag } }));
}
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={novel} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <Chapters chapters={chapters} />
        <Footer />
    </body>
</html>
