---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import ChapterPreview from "./ChapterPreview.astro";

type Props = { chapters: CollectionEntry<"chapters">[] };

const { chapters } = Astro.props;
---

<main>
    <slot />
    <section>
        <ul class="chapters">
            {chapters.map((chapter) => <ChapterPreview {...chapter} />)}
        </ul>
    </section>
</main>

<style>
    .chapters {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin: 0;
        padding: 0;
    }

    @media (max-width: 720px) {
        .chapters {
            gap: 0.5em;
        }
    }
</style>
