---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = CollectionEntry<"chapters">;

const { id, data } = Astro.props;
const { title, tags, pubDate, heroImage } = data;
---

<li class="chapter-preview">
    <a href={`/novels/${id}/`}>
        <h5 class="title">{title}</h5>
        <p class="date">
            <FormattedDate date={pubDate} />
        </p>
        <p class="tags">
            {tags.map((tag) => tag).join(", ")}
        </p>
    </a>
</li>

<style>

    .chapter-preview * {
        text-decoration: none;
        transition: 0.2s ease;
    }

    .chapter-preview img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
    }
    .chapter-preview a {
        display: block;
    }
    .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
    }
    .tags {
        margin: 0;

    }
    .chapter-preview a:hover h5,
    .chapter-preview a:hover .date {
        color: rgb(var(--accent));
    }


</style>
