---
const today = new Date();
---

<footer>
    &copy; {today.getFullYear()} Schadenfreude. All rights reserved.
    <div class="home-link">
        <a href="/">Home</a>
    </div>
    <div class="social-links">
        <a href="https://github.com/AndreaMinato/schaden-novel" target="_blank">
            <span class="sr-only">Go to this site GitHub repo</span>
            <svg
                viewBox="0 0 16 16"
                aria-hidden="true"
                width="32"
                height="32"
                astro-icon="social/github"
                ><path
                    fill="currentColor"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                ></path></svg
            >
        </a>
        <a href={new URL("rss.xml", Astro.site)} target="_blank">
            <span class="sr-only">RSS feed</span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 20 20"
                ><g fill="currentColor"
                    ><path
                        d="M3.75 3a.75.75 0 0 0-.75.75v.5c0 .414.336.75.75.75H4c6.075 0 11 4.925 11 11v.25c0 .414.336.75.75.75h.5a.75.75 0 0 0 .75-.75V16C17 8.82 11.18 3 4 3z"
                    ></path><path
                        d="M3 8.75A.75.75 0 0 1 3.75 8H4a8 8 0 0 1 8 8v.25a.75.75 0 0 1-.75.75h-.5a.75.75 0 0 1-.75-.75V16a6 6 0 0 0-6-6h-.25A.75.75 0 0 1 3 9.25zM7 15a2 2 0 1 1-4 0a2 2 0 0 1 4 0"
                    ></path></g
                ></svg
            >
        </a>
    </div>
</footer>
<style>
    footer {
        padding: 2em 1em 6em 1em;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
        text-align: center;
    }
    .home-link {
        margin-top: 1em;
    }
    .home-link a {
        text-decoration: none;
        color: rgb(var(--gray));
    }
    .home-link a:hover {
        color: rgb(var(--gray-dark));
    }
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }
    .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
    }
    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
</style>
